block content
  div(class='content')
    header
      include slideBanner
      h1 #{welcome}
      p #{next_boat}
      p #{intro}
      ul(class='actions')
        li
          a(href='#' class='button big') Read More
