extends layout

block content
	section
		header(class='major')
			h2 All Stock Plans
		div(class='mini-posts-list')
			article
				ul(class='actions')
					li 
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/samoa28.jpg' alt='' />
				h3 Samoa 28
				p The Samoa 28 is a cruiser-racer specified for sandwich construction. To bring the process of construction within the reach of the inexperienced amateur builder, we defined for this boat the construction method called strip-planking sandwich.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/curruira33.jpg' alt='' />
				h3 Curruira 33
				p The Curruira 33 is a displacement trawler designed to be a long range coastal cruising yacht. The round hull lines plan is based on a 28 foot motor yacht we designed a few years ago, the Southern Voyager 28. This trawler is doing a successful career among our stock plans with dozens of units being built or already finished in different countries, a few of them being chosen as permanent dwelling by some our clients.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/cabohorn40.jpg' alt='' />
				h3 Cabo Horn 40
				p We call Cabo Horn stock plans those cruising sailboat projects capable of accomplishing the most radical of seafaring adventures with a degree of safeness and comfort seldom found in other sailboats of about the same size.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/kiribati36.jpg' alt='' />
				h3 Kiribati 36
				p This design was born from a free-minded interpretation of another design from our office, the MC 36 SK, and the solutions applied were the result of a 10 year,  25000 nautical miles voyage on board a yacht of the same size through some of the most remote and beautiful areas of our planet.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/pop25.jpg' alt='' />
				h3 Pop 25
				p The Pop 25 is a Cat. B cruising sailboat with modern shape and functional concept. Its lines show a collection of new trends in the field of yacht design, such as close to triangular beam distribution, twin keels and rudders, no backstay and vertical topsides.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/popalu32.jpg' alt='' />
				h3 Pop Alu 32
				p Pop from popular and Alu from aluminum construction, two terms that so far have been considered incompatible, but that this design aims to concile.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/samoa28.jpg' alt='' />
				h3 Samoa 28
				p The Samoa 28 is a cruiser-racer specified for sandwich construction. To bring the process of construction within the reach of the inexperienced amateur builder, we defined for this boat the construction method called strip-planking sandwich.
				article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/curruira33.jpg' alt='' />
				h3 Curruira 33
				p The Curruira 33 is a displacement trawler designed to be a long range coastal cruising yacht. The round hull lines plan is based on a 28 foot motor yacht we designed a few years ago, the Southern Voyager 28. This trawler is doing a successful career among our stock plans with dozens of units being built or already finished in different countries, a few of them being chosen as permanent dwelling by some our clients.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/cabohorn40.jpg' alt='' />
				h3 Cabo Horn 40
				p We call Cabo Horn stock plans those cruising sailboat projects capable of accomplishing the most radical of seafaring adventures with a degree of safeness and comfort seldom found in other sailboats of about the same size.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/kiribati36.jpg' alt='' />
				h3 Kiribati 36
				p This design was born from a free-minded interpretation of another design from our office, the MC 36 SK, and the solutions applied were the result of a 10 year,  25000 nautical miles voyage on board a yacht of the same size through some of the most remote and beautiful areas of our planet.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/pop25.jpg' alt='' />
				h3 Pop 25
				p The Pop 25 is a Cat. B cruising sailboat with modern shape and functional concept. Its lines show a collection of new trends in the field of yacht design, such as close to triangular beam distribution, twin keels and rudders, no backstay and vertical topsides.
			article
				ul(class='actions')
					li
						a(href='#' class='button') More
				a(href='#' class='image')
					<img src='/images/popalu32.jpg' alt='' />
				h3 Pop Alu 32
				p Pop from popular and Alu from aluminum construction, two terms that so far have been considered incompatible, but that this design aims to concile.
