extends layout

block content
	br
	table(border="0" cellpadding="0" cellspacing="0" class="dimensao")
		thead
			<th>Model</th>
			<th>Plans</th>
			<th>Study Plans</th>
			<th>CNC Plans</th>			
		tbody
			tr 
				td  Dinghy Caravela 1.7 
				td Free Project
				td  ---- 
				td  ---- 
			
			tr 
				td  Dinghy Caravela 2.5 
				td  AUD$120 
				td  ---- 
				td  ---- 
			
			tr 
				td  Dinghy Andorinha 
				td  AUD$240 
				td  ---- 
				td  ---- 
			
			tr
				td Little Nomad
				td AUD$120
				td  ---- 
				td CNC Files Included
			
			tr 
				td  Pop 20 
				td  AUD$300 
				td  AUD$30 
				td  ---- 
			
			tr 
				td  Pop Star 21
				td  AUD$500 
				td  ----
				td CNC Files Included
			
			tr 
				td  Pop 25
				td  AUD$300 
				td  AUD$30 
				td  ---- 
			
			tr
				td Pop Alu 28
				td  AUD$800 
				td AUD$50
				td CNC Files Included
			
			tr 
				td Pop Alu 32
				td  AUD$650 
				td  AUD$65 
				td  AUD$550
			
			tr 
				td  Green Flash Microtonner 
				td  AUD$470 
				td  AUD$40 
				td  ---- 
			
			tr 
				td  Diamond 6.0 
				td  AUD$470 
				td  AUD$40 
				td  ---- 
			
			tr 
				td Brasileirinho 6.0
				td AUD$500
				td AUD$50
				td ---- 
			
			tr 
				td  Multichine 23 
				td  AUD$350 
				td  AUD$30 
				td  ---- 
			
			tr 
				td  Green Flash ILC 25 
				td  AUD$1,750 
				td  AUD$170 
				td  ---- 
			
			tr 
				td  Pilotina 25 
				td  AUD$470 
				td  AUD$40 
				td  ---- 
			
			tr 
				td  Pantanal 25 
				td  AUD$470 
				td  AUD$40 
				td  ---- 
			
			tr 
				td  Multichine 26C 
				td  AUD$470 
				td  AUD$40 
				td  ---- 
			
			tr 
				td Bora Bora 28 
				td  AUD$700 
				td  AUD$70 
				td  ---- 
			
			tr 
				td Samoa 28
				td  AUD$590 
				td  AUD$50 
				td  ---- 
			
			tr 
				td  Multichine 28 
				td  AUD$590 
				td  AUD$50 
				td  ---- 
			
			tr 
				td  Southern Voyager 28 
				td  AUD$590 
				td  AUD$50 
				td  ---- 
			
			tr 
				td  Multichine 31 
				td  AUD$650 
				td  AUD$60 
				td  * 
			
			tr 
				td  Green Flash IMS 31 
				td  AUD$3,500 
				td  AUD$350 
				td  ---- 
			
			tr 
				td  Green Flash ORC 33 
				td  AUD$3,000 
				td  AUD$300 
				td  ---- 
			
			tr 
				td  Curruira 33
				td  AUD$750
				td  AUD$75
				td  ---- 
			
			tr 
				td  Samoa 34 
				td  AUD$1,170 
				td  AUD$110 
				td  ---- 
			
			tr 
				td  Multichine 34/36 
				td  AUD$940 
				td  AUD$90 
				td  * 
			
			tr 
				td  Cabo Horn 35 MKII 
				td  AUD$1,290 
				td  AUD$120 
				td  ---- 
			
			tr 
				td  Multichine 36SK 
				td  AUD$1,460 
				td  AUD$140 
				td  * 
			
			tr 
				td  Samoa 36 
				td  AUD$1,290 
				td  AUD$120 
				td  ---- 
			
			tr 
				td Kiribati 36 
				td  AUD$1,250 
				td  AUD$120 
				td  AUD$2,000 
			
			tr 
				td  Southern Voyager 38 
				td  AUD$1,460 
				td  AUD$140 
				td  ---- 
			
			tr 
				td  Explorer 39 
				td  AUD$2,340 
				td  AUD$230 
				td  ---- 
			
			tr 
				td  Aventura 40 
				td  AUD$2,340 
				td  AUD$230 
				td  ---- 
			
			tr 
				td  Cabo Horn 40 
				td  AUD$2,340 
				td  AUD$230 
				td  ---- 
			
			tr 
				td  Multichine 41 
				td  AUD$3,500 
				td  AUD$350 
				td  ---- 
			
			tr 
				td  Multichine 41 SK 
				td  AUD$3,500 
				td  AUD$350 
				td AUD$3,500 
			
			tr 
				td  Curruira 42 
				td  AUD$2,920 
				td  AUD$290 
				td  ---- 
			
			tr 
				td  Polar 43 
				td  AUD$5,250 
				td  AUD$520 
				td  ---- 
			
			tr 
				td  Multichine 45 
				td  AUD$4,670 
				td  AUD$460 
				td  ---- 
			
			tr 
				td  Multichine 45 SK 
				td  AUD$5,250 
				td  AUD$520 
				td  ---- 
			
			tr 
				td  Polar 50(*) 
				td  AUD$7,000 
				td  AUD$700 
				td  ---- 
			
			tr 
				td  Polar 65 
				td  AUD$14,000 
				td  AUD$1,400 
				td  ---- 
			
			tr 
				td  Southern Cross 77 
				td  AUD$15,150 
				td  AUD$1,510 
				td  ---- 
	br
	p (*) CNC drawings for transverse framing included at no additional cost.
	p
		b Notes:
		br
		span - The plans are delivered electronically in PDF files.
		br
		span - All prices are quoted in Australian dollars. For reference of the currency conversion please visit the following site: http://au.finance.yahoo.com/currency
	p
		b Study Plans:
		br
		span - The study plans consist of three to four sheets of the full set of plans that constitute the whole project. They include the sail plan, when the boat in case is a sail boat, the general arrangement plan, the deck plan and the construction plan, where it is shown the list of materials employed in the construction. With these plans in hand it is possible to obtain an approximate cost of the construction. However most of this data is already published in our site, so there is not necessarily the need for the acquisition of these preliminary plans. Even so, many amateurs prefer to order the study plans before acquiring the project, most probably to be acquainted with the way we display the information contained in the plans. If you already chose which design you intend to build, it is not necessary to order the study plans first, since all the data contained in the study plan are part of the stock plan. When you acquire the full plans the value paid for the study plans will be deducted.
