extends layout
block sidebar
  div(id="sidebar")
    div(class="inner")
      section(id="search" class="alt")
        form(method="post" action="#")
          input(type="text" name="query" id="query" placeholder="Search")
      nav(id="menu")
        div(class="major")
          h2 Menu
          ul
            li
              a(href="#") Home
            li
              a(href="/plans") List of Plans
            li
              a(href="#") Price List
            li
              a(href="#") Order Form
            li
              a(href="#") Articles
            li
              a(href="#") Letters
            li
              a(href="#") Forum
            li
              a(href="#") F.A.Q.
            li
              a(href="#") Links
            li
              a(href="#") Shipyards
            li
              a(href="#") About Us
