block content
  span(class='image object right')
    div(class="slideshow-container")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/borabora1.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/borabora2.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/brasileirinho.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/southernv38.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/bapauhle.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/robertobarros.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/vagamundo.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/vaga05.jpg' />
        div(class="text")
      div(class='mySlides fade')
        div(class="numbertext")
        <img src='/images/greenomadtop.jpg' />
        div(class="text")
  script(src='/assets/js/slideshow.js')
